<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>New Deployment</title>
    <meta name="description" content="create new deployment">
   



    <!-- Pico.css -->
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">

    <!-- Custom styles for this example -->
    

  <script>
  let owners =  {{owners|tojson|safe}}

  function showtab(){
    curr =  document.getElementById("gitowner").value
    customadd = document.getElementById("addcustom")
    customadd.style.display="none"
    for(owner in owners){
      
         document.getElementById(owners[owner]).style.display="none"


    }
    if(curr=="importfromexternal"){
      customadd.style.display=""
    }else{
    document.getElementById(curr).style.display=""
    }
  }
function searchbar(){
displayall()
let sear = document.getElementById("searchb").value
for(owner of owners){
    let ow = String(owner)
    
    let rows = document.getElementById(ow).rows
    for(row of rows){
      if(row.innerHTML.match(sear)){
        continue
      }
      row.style.display="none"
    }
  }
}
function displayall(){
  for(owner of owners){
    let ow = String(owner)
    
    let rows = document.getElementById(ow).rows
    for(row of rows){
      row.style.display=""
    }
  }
}

  </script>

<script>
  async function checkcustom(){
    document.getElementById("customerror").style.display="none"
let repo=document.getElementById("repo").value
let token=document.getElementById("token").value
if(repo==null || repo==""){
  document.getElementById("customerror").style.display=""
}
let res = await fetch('./deploy/checkexternal', {
  method: 'POST',
  headers: {
    'Accept': 'application/json',
    'Content-Type': 'application/json'
  },
  body: JSON.stringify({"repo": repo, "token": token})
});
 let restext = await res.text()
if(restext=="NOTOK"){
  document.getElementById("customerror").style.display=""
  return
}
if(token==null || token==""){
location.href = ("./config/repo?id="+restext)
}else{
location.href= ("./config/repo?id="+restext+"&token="+token)
}


}
</script>



  </head>

  <body>

    <!-- Nav -->
    <nav class="container-fluid">
      <ul>
        <li><a href="./" class="contrast" ><strong>Project Scarlett</strong></a></li>
      
      </ul>
      <ul>
        <li>
          <details role="list" dir="rtl">
            <summary aria-haspopup="listbox" role="link" class="secondary">Theme</summary>
            <ul role="listbox">
              <li><a href="#" data-theme-switcher="auto">Auto</a></li>
              <li><a href="#" data-theme-switcher="light">Light</a></li>
              <li><a href="#" data-theme-switcher="dark">Dark</a></li>
            </ul>
         
          </details>
        </li>
      
        <li>
            <details role="list" dir="rtl">
              <summary aria-haspopup="listbox" role="link" class="secondary">{{session["user_githubusername"]}}</summary>
              <ul role="listbox">
               
                <li><a href="./settings">Settings</a></li>
                <li><a href="./logout">Log Out</a></li>
                
              </ul>
            </details>
          </li>

      </ul>
    </nav><!-- ./ Nav -->

    <!-- Main -->
    
    <main class="container">
        <div>
        <select style="width: 49.5%; float: inline-start;" autocomplete="off" id="gitowner" onchange="showtab()">
        {% for owner in owners %}
          <option value="{{owner}}">{{owner}}</option>
        {% endfor%}
        <option value="importfromexternal"> import from external repo </option>
        </select>

        <input placeholder="search" style="width: 49.5%; float: inline-end;" id="searchb" onkeyup="searchbar()"> </div>
         

        
        {% for key in repos %}
        <table role="grid" id="{{key}}"
        {% if key !=owners[0] %}
             style="display: none;"
        {% endif%}
             >
            <thead><tr><td></td></tr></thead>
             {% for repo in repos[key] %}
                <tr>
                    <td> 

                      <a style="margin-bottom :5px;" href="https://github.com/{{key}}/{{repo[1]}}"> {{key}}/{{repo[1]}} </a>
                      
                      <a href="./config/repo?id={{repo[0]}}" role="button" class="outline" style="padding: 4px; float: right;">Deploy</a>
                    
                    </td>
        
                    </tr>

                    {%  endfor %}
                 
        </table>

        {%  endfor %}
     
               <div id="addcustom" style="display: none;">
               <label> Enter repo to be imported : </label>
               <input type="text" id="repo" placeholder="tarangsutariya/Project-Scarlett" autocomplete="off">
               <label> if the repo is private paste an access token here </label>
               <input id="token" type="text" autocomplete="off">

               <p id="customerror" style="color: red;display: none;">Please enter a valid repo and token</p>
               <button class="outline" onclick="checkcustom()">Import</button>

 


               </div>


       
     
    </main><!-- ./ Main -->




    <!-- Footer -->
    <!-- <footer class="container-fluid">
     Project-Scarlett
    </footer> -->
    <!-- ./ Footer -->



    <!-- Minimal theme switcher -->
    <script src="./static/js/minimal-theme-switcher.js"></script>

  </body>

</html>