<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Not approved</title>
    <meta name="description" content="login to admin pannel.">
   

    <!-- Pico.css -->
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">

    <!-- Custom styles for this example -->
    <link rel="stylesheet" href="./static/custom.css"> 
   <script>
   async function sub(){
    let responseText="notapproved"
    while(responseText=="notapproved"){
    let response = await fetch("./checkapproved")
     responseText = await response.text();
    }
    let btn = document.getElementById("testbutton")
    btn.disabled = false
    btn.innerText="Request processed ,Redirecting..."
    await new Promise(r => setTimeout(r, 2000));
    if(responseText=="approved"){
      window.location.replace("./userapproved")
    }
   }
   sub()


   </script>




  </head>

  <body>

    <!-- Nav -->
    <nav class="container-fluid">
      <ul>
        <li><a href="../" class="contrast" onclick="event.preventDefault()"><strong>Project Scarlett</strong></a></li>
      </ul>
      <ul>
        <li>
          <details role="list" dir="rtl">
            <summary aria-haspopup="listbox" role="link" class="secondary">Theme</summary>
            <ul role="listbox">
              <li><a href="#" data-theme-switcher="auto">Auto</a></li>
              <li><a href="#" data-theme-switcher="light">Light</a></li>
              <li><a href="#" data-theme-switcher="dark">Dark</a></li>
            </ul>
          </details>
        </li>
        <li>
         <a href="./logout" class="secondary"> Log out</a>   
        </li>
      
      </ul>
    </nav><!-- ./ Nav -->

    <!-- Main -->
    <main class="container">
     <div class="center">
        <form method="post">
          {% if not notFound%}
            <p>Your request is still not approved please wait for it to be approved..</p>
            <label>Username</label>
            <input type="text" name="username" value={{github_username}} disabled>
            {%endif%}
            <label> Request id : #{{request_id}}</label>
          {% if notFound%}
          <p>Request not found this means either request is invalid or denyed try logging again</p>
           <a href="./logout" role="button">Try logging in or requesting access again</a>
           {% else %}
            {% with messages = get_flashed_messages() %}  
            {% if messages %}  
                  {% for message in messages %}  
                       <p style="color: red;">{{ message }}</p>  
                  {% endfor %}  

                  {% else %}
                  <br/>  {{ pass }}<br/> 
            {% endif %}  
           
         
            
         {% endwith %}  

         
            <button id="testbutton" aria-busy="true" disabled onclick="preventDefault()">Please Wait...</button>
            <button style="background-color: #DC3545; border-color: #DC3545;">Cancel Request</button>
            {%endif%}
        </form>
       
     </div>
    </main><!-- ./ Main -->

    <!-- Footer -->
    <!-- <footer class="container-fluid">
     Project-Scarlett
    </footer> -->
    <!-- ./ Footer -->

    <!-- Minimal theme switcher -->
    <script src="./static/js/minimal-theme-switcher.js"></script>

  </body>

</html> 