<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Settings</title>
    <meta name="description" content="login to admin pannel.">
   



    <!-- Pico.css -->
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">

    <!-- Custom styles for this example -->
    <link rel="stylesheet" href="./static/custom.css"> 


<script>
async function printwidth(){
  while(true){
    await new Promise(r => setTimeout(r, 500));
    document.getElementById("he").innerText=window.innerWidth

  }
}
printwidth()
</script>
    

<style>
  @media(min-width : 640px){
.uul {
  list-style-type: none;
  position: fixed;
  width: 25%;

  margin: 0;
  padding: 0;
  height: 100%;
  overflow: auto;
}

#contentblock{
  margin-left:25%;
  padding:1px 16px;
  height:1000px;
}
  }
@media(max-width : 640px) { 
.uul{
    float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  
}
.lii{
    display: inline;
    margin: 2px;
}

#contentblock{
 
  padding:1px 16px;
  height:1000px;
}


 }
</style>

  </head>

  <body>

    <!-- Nav -->
    <nav class="container-fluid">
      <ul>
        <li><a href="./" class="contrast" ><strong>Project Scarlett</strong></a></li>
      
      </ul>
      <ul>
        <li>
          <details role="list" dir="rtl">
            <summary aria-haspopup="listbox" role="link" class="secondary">Theme</summary>
            <ul role="listbox">
              <li><a href="#" data-theme-switcher="auto">Auto</a></li>
              <li><a href="#" data-theme-switcher="light">Light</a></li>
              <li><a href="#" data-theme-switcher="dark">Dark</a></li>
            </ul>
         
          </details>
        </li>
      
        <li>
            <details role="list" dir="rtl">
              <summary aria-haspopup="listbox" role="link" class="secondary">{{session["user_githubusername"]}}</summary>
              <ul role="listbox">
               
                <li><a href="#">Settings</a></li>
                <li><a href="/dashboard/logout">Log Out</a></li>
                
              </ul>
            </details>
          </li>

      </ul>
    </nav><!-- ./ Nav -->

    <!-- Main -->
    
    <main class="container">
        <div class="center"> 
            
            <label> To delete your account enter your github username and press delete button.</label>
            <label>  This action is irreversible and will delete all your deployment instances    </label>
            <input autocomplete="off" id="account">
            <p id="er" style="color: red;display: none;">username does not match</p>
            <button style="background-color: red;border-color: red;" onclick="deleteaccount()" id="delbtn">Delete</button>
        </div>
      
    </main><!-- ./ Main -->




    <!-- Footer -->
    <!-- <footer class="container-fluid">
     Project-Scarlett
    </footer> -->
    <!-- ./ Footer -->



    <!-- Minimal theme switcher -->
    <script src="./static/js/minimal-theme-switcher.js"></script>
<script>
async function deleteaccount(){
let username = "{{session["user_githubusername"]}}"
document.getElementById("er").style.display="none"
document.getElementById("delbtn").setAttribute("aria-busy",true)
let usr = document.getElementById("account").value 
if(usr!=username){
    document.getElementById("er").style.display=""
document.getElementById("delbtn").setAttribute("aria-busy",false)
return 
}
let res = await fetch('/dashboard/deleteaccount')
let restext = await res.text()

location.replace('/dashboard/logout')



}


</script>


  </body>

</html>