<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Account Settings</title>
    <meta name="description" content="login to admin pannel.">
   



    <!-- Pico.css -->
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">

    <!-- Custom styles for this example -->




    

<style>
  @media(min-width : 640px){
.uul {
  list-style-type: none;
  position: fixed;
  width: 25%;

  margin: 0;
  padding: 0;
  height: 100%;
  overflow: auto;
}

#contentblock{
  margin-left:25%;
  padding:1px 16px;
  height:1000px;
}
  }
@media(max-width : 640px) { 
.uul{
    float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  
}
.lii{
    display: inline;
    margin: 2px;
}

#contentblock{
 
  padding:1px 16px;
  height:1000px;
}

 }
</style>
<style>
  .message{
     color:red;
  }
  .success{
    color:lightgreen;
  }

td {
  text-align: center;
}

th {
  text-align: center;
}
</style>

<script src="/static/js/modal.js">
</script>
  </head>

  <body>

    <!-- Nav -->
    <nav class="container-fluid">
      <ul>
        <li><a href="../" class="contrast" ><strong>Project Scarlett</strong></a></li>
      
      </ul>
      <ul>
        <li>
          <details role="list" dir="rtl">
            <summary aria-haspopup="listbox" role="link" class="secondary">Theme</summary>
            <ul role="listbox">
              <li><a href="#" data-theme-switcher="auto">Auto</a></li>
              <li><a href="#" data-theme-switcher="light">Light</a></li>
              <li><a href="#" data-theme-switcher="dark">Dark</a></li>
            </ul>
         
          </details>
        </li>
      
        <li>
            <details role="list" dir="rtl">
              <summary aria-haspopup="listbox" role="link" class="secondary">{{username}}</summary>
              <ul role="listbox">
                
                <li><a href="../settings">Settings</a></li>
                <li><a href="../logout">Log Out</a></li>
                
              </ul>
            </details>
          </li>

      </ul>
    </nav><!-- ./ Nav -->

    <!-- Main -->
    
    <main class="container">
        <ul class="uul">
            <li class="lii"><a href="./account"  >Account</a></li>
            <li class="lii"><a href="./servers">Servers</a></li>
            <li class="lii"><a href="./users" class="secondary">Users</a></li>
            <li class="lii"><a href="./deployments">Deployments</a></li>
            <li class="lii"><a href="./notifications">Notifications</a></li>
            
          </ul>
      
          <div id="contentblock">

            <!-- <div style="padding:1px 16px;height:1000px;"> -->
            <h2 id="he">Users</h2>
            <input autocomplete="off" id="searchbar" onkeyup="searchb()">
            <table style="text-align: center;"">
                <thead>
                    <tr><th>#</th><th>Username</th><th>Action</th></tr>
                </thead>
            <tbody>
                {% for usr in usrs %}
                <tr id="r{{loop.index0}}">
                    <td id="i{{loop.index0}}">{{usr.user_id}}</td>
                    <td id="u{{loop.index0}}">{{usr.github_username}}</td>
                    <td><a style="cursor:pointer;"  data-target="modal-example" onclick="setusrid({{usr.user_id}},'{{usr.github_username}}');toggleModal(event)">delete</a></td>
                </tr>
               {% endfor %} 
                
            </tbody>

            </table>
         
          </div>

    </main><!-- ./ Main -->




    <!-- Footer -->
    <!-- <footer class="container-fluid">
     Project-Scarlett
    </footer> -->
    <!-- ./ Footer -->

    <dialog id="modal-example">
        <article>
          <a href="#close"
            aria-label="Close"
            class="close"
            data-target="modal-example"
            onClick="toggleModal(event)">
          </a>
          <h3>Are you sure ?</h3>
          <p>
            Do you really want to delete user  <span id="username" style="font-weight: bold;"></span> ?
          </p>
          <footer>
            <a href="#cancel"
              role="button"
              class="secondary"
              data-target="modal-example"
              onClick="toggleModal(event)">
              Cancel
            </a>
            <a href="#confirm"
              role="button" id="conf"
              data-target="modal-example"
              onClick="deluser()">
              Confirm
            </a>
          </footer>
        </article>
      </dialog>


<script>
userid = null
username = null

function setusrid(ui,un){
    userid = ui
    username = un
    document.getElementById("username").innerText=un
}

async function deluser(){
document.getElementById("conf").setAttribute("aria-busy",true)

let res = await fetch("./delusr", {
  method: "POST", // or 'PUT'
  headers: {
    "Content-Type": "application/json",
  },
  body: JSON.stringify({"user_id":userid}),
})

let restext = await res.text()

location.reload()
}

function searchb(){
let searcht = document.getElementById("searchbar").value 
let n = document.getElementsByTagName("tbody")[0].rows.length

for(i=0;i<n;i++){
document.getElementById(`r${i}`).style.display=""
}


for(i=0;i<n;i++){
    if(document.getElementById(`i${i}`).innerText.match(searcht) || document.getElementById(`u${i}`).innerText.match(searcht) ){
        continue
    }

    document.getElementById(`r${i}`).style.display="none" 
}

}


</script>

    <!-- Minimal theme switcher -->
    <script src="../static/js/minimal-theme-switcher.js"></script>

  </body>

</html>