<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Server Settings</title>
    <meta name="description" content="login to admin pannel.">
   



    <!-- Pico.css -->
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">

    <!-- Custom styles for this example -->



    <script src="../static/js/modal.js">
   
    </script>

<script>

async function add_server(element){
  

  document.getElementById("server_add_error").innerText=""
  ip = document.getElementById("server_ip").value
  domain_prefix = document.getElementById("domain_prefix").value
  locationcode = document.getElementById("serverlocation").value
  locationdes = document.getElementById("locationdescription").value

  
  if (!(/^(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$/.test(ip))) {  
    document.getElementById("server_add_error").innerText="Invalid ip address"
    return  
  }  
  if(domain_prefix==null || domain_prefix==""){
    document.getElementById("server_add_error").innerText="Domain prefix cant be empty"
    return
  }
  if (locationdes==null || locationdes==""){
    document.getElementById("server_add_error").innerText="location description cannot be empty"
    return
  }

   let res = await fetch('./addserver', {
    method: 'POST',
    headers: {
      'Accept': 'application/json',
      'Content-Type': 'application/json'
    },
    body: JSON.stringify({"ip": ip, "prefix": domain_prefix,"locationcode":locationcode,"locationdesc":locationdes})
  });
   let restext = await res.text()
   if(restext!="OK"){
    document.getElementById("server_add_error").innerText=restext
    return
   }

  
   location.reload()
} 

</script>



<style>
  @media(min-width : 640px){
.uul {
  list-style-type: none;
  position: fixed;
  width: 25%;

  margin: 0;
  padding: 0;
  height: 100%;
  overflow: auto;
}

#contentblock{
  margin-left:25%;
  padding:1px 16px;
  height:1000px;
}
  }
@media(max-width : 640px) { 
.uul{
    float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  
}
.lii{
    display: inline;
    margin: 2px;
}

#contentblock{
 
  padding:1px 16px;
  height:1000px;
}



 }

.offline{
  color: #FF2400;
}

.overloaded{
  color: orange;
}
.healthy{
  color: #50C878;
}

</style>

  </head>

  <body>

    <!-- Nav -->
    <nav class="container-fluid">
      <ul>
        <li><a href="../" class="contrast" ><strong>Project Scarlett</strong></a></li>
      
      </ul>
      <ul>
        <li>
          <details role="list" dir="rtl">
            <summary aria-haspopup="listbox" role="link" class="secondary">Theme</summary>
            <ul role="listbox">
              <li><a href="#" data-theme-switcher="auto">Auto</a></li>
              <li><a href="#" data-theme-switcher="light">Light</a></li>
              <li><a href="#" data-theme-switcher="dark">Dark</a></li>
            </ul>
         
          </details>
        </li>
      
        <li>
            <details role="list" dir="rtl">
              <summary aria-haspopup="listbox" role="link" class="secondary">{{username}}</summary>
              <ul role="listbox">
                
                <li><a href="../settings">Settings</a></li>
                <li><a href="../logout">Log Out</a></li>
                
              </ul>
            </details>
          </li>

      </ul>
    </nav><!-- ./ Nav -->

    <!-- Main -->
    
    <main class="container">
        <ul class="uul">
            <li class="lii"><a href="./account">Account</a></li>
            <li class="lii"><a href="./servers" class="secondary">Servers</a></li>
            <li class="lii"><a href="./users">Users</a></li>
            <li class="lii"><a href="./deployments">Deployments</a></li>
            <li class="lii"><a href="./notifications">Notifications</a></li>
            
          </ul>
      
          <div id="contentblock">

            <!-- <div style="padding:1px 16px;height:1000px;"> -->
            <h2 id="he">Servers</h2>
            <input id="requestsearch"  onkeyup="request_search()" placeholder="search..">
            <table role="grid">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">IP</th>
                  <th scope="col">Prefix</th>
                  <th scope="col">Health</th>
                 
                  <th scope="col">Manage</th>
                </tr>
              </thead>
              <tbody>
                {% if servers_list|length==0 %}
                <tr><td></td><td></td><td>No Servers Seriously ?</td><td></td><td></td></tr>
                {% else %}
              {% for svr in servers_list %}
               <tr>

                  <th scope="row">{{loop.index0+1}}</th>
                  <td>{{ svr.ip_address }}</td>
                  <td> {{ svr.domain_prefix }} </td>
                  
                 <td class="{{svr.server_health}}" > {{ svr.server_health}} </td>
                  <td><a href="server/{{svr.server_id}}">more</a></td>
                </tr>
              {% endfor %}
                {%endif%}
            <!--      <tr>
                  <th scope="row">1</th>
                  <td>Cell</td>
                  <td>Cell</td>
                  <td style="color: orange;">Overloaded</td>
                   <td style="color: #50C878;">Healthy</td>
                  
                </tr>
                <tr>
                  <th scope="row">1</th>
                  <td>Cell</td>
                  <td>Cell</td>
                 
                  <td style="color: #FF2400;">Offline</td>
                  <td><a>more</a></td>
                </tr>
              </tbody> -->
              <tfoot>
                <tr>
                  <th scope="col">#</th>
                  <td scope="col"></td>
                  <td scope="col"></td>
                 
                  <td scope="col"></td>
                  <td scope="col" style="cursor : pointer;" data-target="modal-add-server" onclick="document.getElementById('server_add_error').innerText='';toggleModal(event)"><a>Add</a></td>
                </tr>
              </tfoot>
            </table>

            
            
        
          </div>

    </main><!-- ./ Main -->




    <!-- Footer -->
    <!-- <footer class="container-fluid">
     Project-Scarlett
    </footer> -->
    <!-- ./ Footer -->


    <dialog id="modal-add-server">
      <article>
        <a href="#close"
          aria-label="Close"
          class="close"
          data-target="modal-add-server"
          onClick="toggleModal(event)">
        </a>
        <h5>Add Server</h5>
        <label>IP : </label>
        <input id="server_ip" autocomplete="off">
        <label>Domain prefix : </label>
        <input id="domain_prefix" autocomplete="off">
       
        <label>Server Location : </label>
        <select id="serverlocation">
      
         
          {% for key,value in countries.items() %}
          <option value="{{value}}"> {{key}} </option>
            {% endfor %}
        </select>
        <label>Location Description: </label>
        <input id="locationdescription" autocomplete="off">


        <span></span><br/>
        <span id="server_add_error" style="color: red;"></span>
        <footer>
          <a href="#cancel"
            role="button"
            class="secondary"
            data-target="modal-add-server"
            onClick="toggleModal(event)">
            Cancel
          </a>
          <a href="#confirm"
            role="button"
            data-target="modal-add-server"
            onClick="add_server(event)">
           Add
          </a>
        </footer>
      </article>
      </dialog>

    


    <!-- Minimal theme switcher -->
    <script src="../static/js/minimal-theme-switcher.js"></script>

  </body>

</html>