<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="Cache-Control" content="no-store" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin Dashboard login</title>
    <meta name="description" content="Dashboard.">
   
    


    <!-- Pico.css -->
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
 
    <!-- Custom styles for this example -->
    <link rel="stylesheet" href="./static/custom.css"> 
    <link rel="stylesheet" href="./static/searchbar.css"> 
    <!--js-->
    <script src="static/js/modal.js">
   
    </script>
    <script>
      let todelete_org = null;

     function set_todelete_org(deleteid,delete_org_name){
      todelete_org = deleteid;
      document.getElementById("deleteorg").innerText=delete_org_name;
     }

      async function deleteorg(todelete){
        if(todelete_org==null){
          return;
        }
        document.getElementById("loader").style.display="flex";
        await fetch('./manage/org/delete/'+todelete);
        location.reload()
        

        
      }
    let token_to_edit = null;
     function set_to_edit_token(token_id,token_name){
              token_to_edit=token_id;
              document.getElementById("token_name_input").value=token_name;
     }

     function edit_token_confirm(element){
      let tkn_name =  document.getElementById("token_name_input")
      let tkn_tkn = document.getElementById("token_token")
      let error_span = document.getElementById("token_edit_error")
      if(tkn_name.value==""){
        error_span.innerText = "Token name cant be empty"
      }else{
          
          toggleModal(element)
      }

     }

     let todelete_token = null;

function set_todelete_token(tokenid,delete_token_name){
 todelete_token = tokenid;
 document.getElementById("deletetoken").innerText=delete_token_name;
}

 async function deletetoken(){
   if(todelete_token==null){
     return;
   }
   document.getElementById("loader").style.display="flex";
   await fetch('./manage/token/delete/'+todelete_token);
   location.reload()
   

   
 }





      async function acceptuserrequest(element,request_id){
        
        await fetch('./manage/userrequest/accept/'+request_id);

        let requesttable = document.getElementById("userrequests")
        let rowind =  element.closest('tr').rowIndex
        requesttable.deleteRow(rowind)
        
        if(requesttable.rows.length==3){
        requesttable.rows[1].style.display="";
        }
      }
      async function deleteuserrequest(element,request_id){
        
        await fetch('./manage/userrequest/delete/'+request_id);
       
        let requesttable = document.getElementById("userrequests")
        let rowind =  element.closest('tr').rowIndex
        requesttable.deleteRow(rowind)
        
        if(requesttable.rows.length==3){
        requesttable.rows[1].style.display="";
        }
      }





    </script>

  </head>

  <body>

    <!-- Nav -->
   
    <nav class="container-fluid">
      <ul>
        <li><a href="./" class="contrast" ><strong>Project Scarlett</strong></a></li>
       
      </ul>
      <ul>
        <li>
          <details role="list" dir="rtl">
            <summary aria-haspopup="listbox" role="link" class="secondary">Theme</summary>
            <ul role="listbox">
              <li><a href="#" data-theme-switcher="auto">Auto</a></li>
              <li><a href="#" data-theme-switcher="light">Light</a></li>
              <li><a href="#" data-theme-switcher="dark">Dark</a></li>
            </ul>
         
          </details>
        </li>
      
        <li>
            <details role="list" dir="rtl">
              <summary aria-haspopup="listbox" role="link" class="secondary">{{username}}</summary>
              <ul role="listbox">
               
                <li><a href="./settings">Settings</a></li>
                
                <li><a href="./logout">Log Out</a></li>
                
              </ul>
            </details>
          </li>

      </ul>
    </nav><!-- ./ Nav -->
    <a href="#" id="loader" class="container-fluid" style="display: none; justify-content: center;" aria-busy="true"></a>
    <!-- Main -->
    
    <main class="container">
      
       
        <h3>User requests</h3>
        <input id="requestsearch" type="search" onkeyup="request_search()" placeholder="search user requests">
        <table role="grid" id="userrequests">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Username</th>
                <th scope="col">Message</th>
                <th scope="col"> Manage</th>
                
              </tr>
            </thead>
            <tbody>
              <tr style="display: None;">
                <th scope="col"></th>
                <td scope="col"></td>
                <td scope="col">Not found</td>
                <td scope="col"></td>
                
              </tr>
              {% if user_reqs|length==0 %}
              <tr><td>No Requests to appprove</td></tr>
              {% else %}

              {%for req in user_reqs%}
              <tr>
                <th scope="row">{{req["request_id"]}}</th>
                <td>{{req["github_username"]}}</td>
                <td>{{req["message"]}}</td>
                <td>
                    <a class="pointerhere" onclick="acceptuserrequest(this,{{req['request_id']}})">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/></svg>
                  <span></span>
                    </a>

                    <a class="pointerhere" onclick="deleteuserrequest(this,{{req['request_id']}})">
                    <svg
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M17 5V4C17 2.89543 16.1046 2 15 2H9C7.89543 2 7 2.89543 7 4V5H4C3.44772 5 3 5.44772 3 6C3 6.55228 3.44772 7 4 7H5V18C5 19.6569 6.34315 21 8 21H16C17.6569 21 19 19.6569 19 18V7H20C20.5523 7 21 6.55228 21 6C21 5.44772 20.5523 5 20 5H17ZM15 4H9V5H15V4ZM17 7H7V18C7 18.5523 7.44772 19 8 19H16C16.5523 19 17 18.5523 17 18V7Z"
                      fill="currentColor"
                    />
                    <path d="M9 9H11V17H9V9Z" fill="currentColor" />
                    <path d="M13 9H15V17H13V9Z" fill="currentColor" />
                  </svg>
                
                </a>
                
                
                </td>
               


              </tr>
              {%endfor%}
              {% endif %}
          
            </tbody>
            <tfoot>
              <tr>
                <th scope="col"></th>
                <td scope="col"></td>
                <td scope="col"></td>
                <td scope="col"></td>
                
              </tr>
            </tfoot>
          </table>




<!--Tokens table -->
<h3>Github tokens</h3>

<input id="tokensearch" type="search" onkeyup="search_token()" placeholder="search user requests">
<table role="grid" id="tokenstab">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Token name</th>
        <th scope="col">status  <a> <svg  height="20" width="20" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 489.645 489.645" xml:space="preserve">
          <g>
            <g>
              <path d="M468.999,227.774c-11.4,0-20.8,8.3-20.8,19.8c-1,74.9-44.2,142.6-110.3,178.9c-99.6,54.7-216,5.6-260.6-61l62.9,13.1
                c10.4,2.1,21.8-4.2,23.9-15.6c2.1-10.4-4.2-21.8-15.6-23.9l-123.7-26c-7.2-1.7-26.1,3.5-23.9,22.9l15.6,124.8
                c1,10.4,9.4,17.7,19.8,17.7c15.5,0,21.8-11.4,20.8-22.9l-7.3-60.9c101.1,121.3,229.4,104.4,306.8,69.3
                c80.1-42.7,131.1-124.8,132.1-215.4C488.799,237.174,480.399,227.774,468.999,227.774z"/>
              <path d="M20.599,261.874c11.4,0,20.8-8.3,20.8-19.8c1-74.9,44.2-142.6,110.3-178.9c99.6-54.7,216-5.6,260.6,61l-62.9-13.1
                c-10.4-2.1-21.8,4.2-23.9,15.6c-2.1,10.4,4.2,21.8,15.6,23.9l123.8,26c7.2,1.7,26.1-3.5,23.9-22.9l-15.6-124.8
                c-1-10.4-9.4-17.7-19.8-17.7c-15.5,0-21.8,11.4-20.8,22.9l7.2,60.9c-101.1-121.2-229.4-104.4-306.8-69.2
                c-80.1,42.6-131.1,124.8-132.2,215.3C0.799,252.574,9.199,261.874,20.599,261.874z"/>
            </g>
          </g></svg></a></th>
        <th scope="col"> Manage</th>
        
      </tr>
    </thead>
    <tbody>


      <tr style="display: None;">
        <th scope="col"></th>
        <td scope="col"></td>
        <td scope="col">Not found</td>
        <td scope="col"></td>
        
      </tr>
    {% if tokns|length==0 %}
    <tr><td>No Tokens Seriously? </td></tr>
    {% else %}
    {% for tkn in tokns %}
      <tr>
        <th scope="row">{{ loop.index0+1 }}</th>
        <td>{{tkn.token_name}}</td>
        <td>{{tkn.token_status}}</td>
        <td>
          <a data-target="modal-edit-token" onclick="set_to_edit_token({{tkn.token_id}},'{{tkn.token_name}}');toggleModal(event)">
            <svg width="24" height="24" viewBox="0 0 24 24"  xmlns="http://www.w3.org/2000/svg">
              <path d="M18 9.99982L14 5.99982M2.5 21.4998L5.88437 21.1238C6.29786 21.0778 6.5046 21.0549 6.69785 20.9923C6.86929 20.9368 7.03245 20.8584 7.18289 20.7592C7.35245 20.6474 7.49955 20.5003 7.79373 20.2061L21 6.99982C22.1046 5.89525 22.1046 4.10438 21 2.99981C19.8955 1.89525 18.1046 1.89524 17 2.99981L3.79373 16.2061C3.49955 16.5003 3.35246 16.6474 3.24064 16.8169C3.14143 16.9674 3.06301 17.1305 3.00751 17.302C2.94496 17.4952 2.92198 17.702 2.87604 18.1155L2.5 21.4998Z" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            </a>

            <a data-target="modal-delete-token"
            onClick="set_todelete_token({{tkn.token_id}},'{{tkn.token_name}}');
            toggleModal(event)">
            <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M17 5V4C17 2.89543 16.1046 2 15 2H9C7.89543 2 7 2.89543 7 4V5H4C3.44772 5 3 5.44772 3 6C3 6.55228 3.44772 7 4 7H5V18C5 19.6569 6.34315 21 8 21H16C17.6569 21 19 19.6569 19 18V7H20C20.5523 7 21 6.55228 21 6C21 5.44772 20.5523 5 20 5H17ZM15 4H9V5H15V4ZM17 7H7V18C7 18.5523 7.44772 19 8 19H16C16.5523 19 17 18.5523 17 18V7Z"
              fill="currentColor"
            />
            <path d="M9 9H11V17H9V9Z" fill="currentColor" />
            <path d="M13 9H15V17H13V9Z" fill="currentColor" />
          </svg>
        
        </a>
      
        
        </td>
       


      </tr>
      {% endfor%}
     {% endif %}
    </tbody>
    <tfoot>
      <tr>
        <th scope="col"></th>
        <td scope="col"></td>
        <td scope="col"></td>
        <td scope="col"><a href="./addtoken">Add</a></td>
        
      </tr>
    </tfoot>
  </table>




<!--orgs table-->



<h3>Allowed github Orginization</h3>

<input id="orgsearch" type="search" onkeyup="search_org()" placeholder="search organizations">
<table role="grid" id="approvedorgs">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Orginization</th>
        <th scope="col">Token</th>
        <th scope="col"> Manage</th>
        
      </tr>
    </thead>
    <tbody>


      <tr style="display: None;">
        <th scope="col"></th>
        <td scope="col"></td>
        <td scope="col">Not found</td>
        <td scope="col"></td>
        
      </tr>
    {% if orgs_details|length==0 %}
    <tr><td>No Orginization availabe</td></tr>
    {% else %}
    {% for org in orgs_details %}
      <tr>
        <th scope="row">{{ loop.index0+1 }}</th>
        <td>{{org.org_name}}</td>
        <td>{{org.token_name}}</td>
        <td>

            <a data-target="modal-delete-org"
            onClick="set_todelete_org({{org.org_id}},'{{org.org_name}}');
            toggleModal(event)">
            <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M17 5V4C17 2.89543 16.1046 2 15 2H9C7.89543 2 7 2.89543 7 4V5H4C3.44772 5 3 5.44772 3 6C3 6.55228 3.44772 7 4 7H5V18C5 19.6569 6.34315 21 8 21H16C17.6569 21 19 19.6569 19 18V7H20C20.5523 7 21 6.55228 21 6C21 5.44772 20.5523 5 20 5H17ZM15 4H9V5H15V4ZM17 7H7V18C7 18.5523 7.44772 19 8 19H16C16.5523 19 17 18.5523 17 18V7Z"
              fill="currentColor"
            />
            <path d="M9 9H11V17H9V9Z" fill="currentColor" />
            <path d="M13 9H15V17H13V9Z" fill="currentColor" />
          </svg>
        
        </a>
        
        
        </td>
       


      </tr>
      {% endfor%}
     {% endif %}
    </tbody>
    <tfoot>
      <tr>
        <th scope="col"></th>
        <td scope="col"></td>
        <td scope="col"></td>
        <td scope="col"><a href="#">Add</a></td>
        
      </tr>
    </tfoot>
  </table>








    </main><!-- ./ Main -->





<!-- DELETE Modal -->
<!-- Modal -->
<dialog id="modal-delete-org">
  <article>
    <a href="#close"
      aria-label="Close"
      class="close"
      data-target="modal-delete-org"
      onClick="toggleModal(event)">
    </a>
    <h3>Are you sure</h3>
    <p>
    Do you really want to delete org  <span id="deleteorg"></span>?  
    </p>
    <footer>
      <a href="#cancel"
        role="button"
        class="secondary"
        data-target="modal-delete-org"
        onClick="toggleModal(event)">
        Cancel
      </a>
      <a href="#confirm"
        role="button" style="background-color: red;"
        data-target="modal-delete-org"
        onClick="deleteorg(todelete_org);toggleModal(event)">
        Delete
      </a>
    </footer>
  </article>
  </dialog>





<!-- Edit token Modal -->
<!-- Modal -->
<dialog id="modal-edit-token">
  <article>
    <a href="#close"
      aria-label="Close"
      class="close"
      data-target="modal-edit-token"
      onClick="toggleModal(event)">
    </a>
    <h3>Edit token</h3>
    <label>Token name : </label>
    <input id="token_name_input">
    <label>Updated token : </label>
    <input id="token_token">
    <span>Paste new token here,oauth tokens can't be update try deleting and re-adding instead</span><br/>
    <span id="token_edit_error" style="color: red;"></span>
    <footer>
      <a href="#cancel"
        role="button"
        class="secondary"
        data-target="modal-edit-token"
        onClick="toggleModal(event)">
        Cancel
      </a>
      <a href="#confirm"
        role="button"
        data-target="modal-edit-token"
        onClick="edit_token_confirm(event)">
       Save
      </a>
    </footer>
  </article>
  </dialog>

<!--Token delete -->

<dialog id="modal-delete-token">
  <article>
    <a href="#close"
      aria-label="Close"
      class="close"
      data-target="modal-delete-token"
      onClick="toggleModal(event)">
    </a>
    <h3>Are you sure</h3>
    <p>
    Do you really want to delete token  <span id="deletetoken" style="font-weight: bold;"></span>?  
    </p>
    <footer>
      <a href="#cancel"
        role="button"
        class="secondary"
        data-target="modal-delete-token"
        onClick="toggleModal(event)">
        Cancel
      </a>
      <a href="#confirm"
        role="button" style="background-color: red;"
        data-target="modal-delete-token"
        onClick="deletetoken();toggleModal(event)">
        Delete
      </a>
    </footer>
  </article>
  </dialog>




    <!-- Footer -->
    <!-- <footer class="container-fluid">
     Project-Scarlett
    </footer> -->
    <!-- ./ Footer -->



    <!-- Minimal theme switcher -->
    <script src="./static/js/minimal-theme-switcher.js"></script>
    <script src="./static/js/searchbar.js"></script>
  </body>

</html>