<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="Cache-Control" content="no-store" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin Dashboard login</title>
    <meta name="description" content="Dashboard.">
   
    


    <!-- Pico.css -->
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
 
    <!-- Custom styles for this example -->
    <link rel="stylesheet" href="./static/custom.css"> 
    <link rel="stylesheet" href="./static/searchbar.css"> 
    <!--js-->
    <script src="static/js/modal.js">
   
    </script>
    <script>
      let todelete_org = null;

     function set_todelete_org(deleteid,delete_org_name){
      todelete_org = deleteid;
      document.getElementById("deleteorg").innerText=delete_org_name;
     }

      async function deleteorg(todelete){
        if(todelete_org==null){
          return;
        }
        document.getElementById("loader").style.display="flex";
        await fetch('./manage/org/delete/'+todelete);
        location.reload()
        

        
      }
    



    </script>

  </head>

  <body>

    <!-- Nav -->
   
    <nav class="container-fluid">
      <ul>
        <li><a href="./" class="contrast" ><strong>Project Scarlett</strong></a></li>
    
      </ul>
      <ul>
        <li>
          <details role="list" dir="rtl">
            <summary aria-haspopup="listbox" role="link" class="secondary">Theme</summary>
            <ul role="listbox">
              <li><a href="#" data-theme-switcher="auto">Auto</a></li>
              <li><a href="#" data-theme-switcher="light">Light</a></li>
              <li><a href="#" data-theme-switcher="dark">Dark</a></li>
            </ul>
         
          </details>
        </li>
      
        <li>
            <details role="list" dir="rtl">
              <summary aria-haspopup="listbox" role="link" class="secondary">{{username}}</summary>
              <ul role="listbox">
               
                <li><a href="./settings">Settings</a></li>
                <li><a href="./logout">Log Out</a></li>
                
              </ul>
            </details>
          </li>

      </ul>
    </nav><!-- ./ Nav -->
    <a href="#" id="loader" class="container-fluid" style="display: none; justify-content: center;" aria-busy="true"></a>
    <!-- Main -->
    
    <main class="container">
      
       
        <h3>User requests</h3>
        <input id="requestsearch" type="search" onkeyup="request_search()" placeholder="search user requests">
        <table role="grid" id="userrequests">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Username</th>
                <th scope="col">Message</th>
                <th scope="col"> Manage</th>
                
              </tr>
            </thead>
            <tbody>
              <tr style="display: None;">
                <th scope="col"></th>
                <td scope="col"></td>
                <td scope="col">Not found</td>
                <td scope="col"></td>
                
              </tr>
              {% if user_reqs|length==0 %}
              <tr><td>No Requests to appprove</td></tr>
              {% else %}

              {%for req in user_reqs%}
              <tr>
                <th scope="row">{{req["request_id"]}}</th>
                <td>{{req["github_username"]}}</td>
                <td>{{req["message"]}}</td>
                <td>
                    <a href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/></svg>
                  <span></span>
                    </a>

                    <a href="#">
                    <svg
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M17 5V4C17 2.89543 16.1046 2 15 2H9C7.89543 2 7 2.89543 7 4V5H4C3.44772 5 3 5.44772 3 6C3 6.55228 3.44772 7 4 7H5V18C5 19.6569 6.34315 21 8 21H16C17.6569 21 19 19.6569 19 18V7H20C20.5523 7 21 6.55228 21 6C21 5.44772 20.5523 5 20 5H17ZM15 4H9V5H15V4ZM17 7H7V18C7 18.5523 7.44772 19 8 19H16C16.5523 19 17 18.5523 17 18V7Z"
                      fill="currentColor"
                    />
                    <path d="M9 9H11V17H9V9Z" fill="currentColor" />
                    <path d="M13 9H15V17H13V9Z" fill="currentColor" />
                  </svg>
                
                </a>
                
                
                </td>
               


              </tr>
              {%endfor%}
              {% endif %}
          
            </tbody>
            <tfoot>
              <tr>
                <th scope="col"></th>
                <td scope="col"></td>
                <td scope="col"></td>
                <td scope="col"></td>
                
              </tr>
            </tfoot>
          </table>



<!--orgs table-->

<p>Allowed github Orginization</p>
<table role="grid">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Orginization</th>
        <th scope="col">Token</th>
        <th scope="col"> Manage</th>
        
      </tr>
    </thead>
    <tbody>
    {% if orgs_details|length==0 %}
    <tr><td>No Orginization availabe</td></tr>
    {% else %}
    {% for org in orgs_details %}
      <tr>
        <th scope="row">{{ loop.index0+1 }}</th>
        <td>{{org.org_name}}</td>
        <td>{{org.token_name}}</td>
        <td>

            <a data-target="modal-delete-org"
            onClick="set_todelete_org({{org.org_id}},'{{org.org_name}}');
            toggleModal(event)">
            <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M17 5V4C17 2.89543 16.1046 2 15 2H9C7.89543 2 7 2.89543 7 4V5H4C3.44772 5 3 5.44772 3 6C3 6.55228 3.44772 7 4 7H5V18C5 19.6569 6.34315 21 8 21H16C17.6569 21 19 19.6569 19 18V7H20C20.5523 7 21 6.55228 21 6C21 5.44772 20.5523 5 20 5H17ZM15 4H9V5H15V4ZM17 7H7V18C7 18.5523 7.44772 19 8 19H16C16.5523 19 17 18.5523 17 18V7Z"
              fill="currentColor"
            />
            <path d="M9 9H11V17H9V9Z" fill="currentColor" />
            <path d="M13 9H15V17H13V9Z" fill="currentColor" />
          </svg>
        
        </a>
        
        
        </td>
       


      </tr>
      {% endfor%}
     {% endif %}
    </tbody>
    <tfoot>
      <tr>
        <th scope="col"></th>
        <td scope="col"></td>
        <td scope="col"></td>
        <td scope="col"><a href="#">Add</a></td>
        
      </tr>
    </tfoot>
  </table>








    </main><!-- ./ Main -->





<!-- DELETE Modal -->
<!-- Modal -->
<dialog id="modal-delete-org">
  <article>
    <a href="#close"
      aria-label="Close"
      class="close"
      data-target="modal-delete-org"
      onClick="toggleModal(event)">
    </a>
    <h3>Are you sure</h3>
    <p>
    Do you really want to delete org  <span id="deleteorg"></span>?  
    </p>
    <footer>
      <a href="#cancel"
        role="button"
        class="secondary"
        data-target="modal-delete-org"
        onClick="toggleModal(event)">
        Cancel
      </a>
      <a href="#confirm"
        role="button" style="background-color: red;"
        data-target="modal-delete-org"
        onClick="deleteorg(todelete_org);toggleModal(event)">
        Delete
      </a>
    </footer>
  </article>
  </dialog>














    <!-- Footer -->
    <!-- <footer class="container-fluid">
     Project-Scarlett
    </footer> -->
    <!-- ./ Footer -->



    <!-- Minimal theme switcher -->
    <script src="./static/js/minimal-theme-switcher.js"></script>
    <script src="./static/js/searchbar.js"></script>
  </body>

</html>