<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Deploying...</title>
    <meta name="description" content="login to admin pannel.">
   



    <!-- Pico.css -->
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">

    <!-- Custom styles for this example -->



    



  </head>

  <body>

    <!-- Nav -->
    <nav class="container-fluid">
      <ul>
        <li><a href="../dashboard" class="contrast" ><strong>Project Scarlett</strong></a></li>
      
      </ul>
      <ul>
        <li>
          <details role="list" dir="rtl">
            <summary aria-haspopup="listbox" role="link" class="secondary">Theme</summary>
            <ul role="listbox">
              <li><a href="#" data-theme-switcher="auto">Auto</a></li>
              <li><a href="#" data-theme-switcher="light">Light</a></li>
              <li><a href="#" data-theme-switcher="dark">Dark</a></li>
            </ul>
         
          </details>
        </li>
      
        <li>
            <details role="list" dir="rtl">
              <summary aria-haspopup="listbox" role="link" class="secondary">{{session["user_githubusername"]}}</summary>
              <ul role="listbox">
               
                <li><a href="/dashboard/settings">Settings</a></li>
                <li><a href="/dashboard/logout">Log Out</a></li>
                
              </ul>
            </details>
          </li>

      </ul>
    </nav><!-- ./ Nav -->

    <!-- Main -->
    
    <main class="container">
        <h3>Deployment in progress</h3>
        <progress id="prg" value="{{info['curr']}}" max="{{info['total']}}"></progress>
        <p style="float: right;" id="stepscomp"> {{info['curr']}}/{{info['total']}} steps completed</p>
        <p aria-busy="true" id="process" >{{info['message']}}</p>
    </main><!-- ./ Main -->


<script>
let dep = {{dep.deploy_id}}
let curr = {{info['curr']}};
let total = {{info['total']}};
let message = "{{info['message']}}"

let waitt=1


async function longpoll(){
    while(true){
    if (total == curr){
        location.reload()
    } 
    await new Promise(r => setTimeout(r, waitt*1000));
    let response = await fetch(String(dep)+'/initdeploystatus/'+String(curr))
    rj = await response.json()
    if(rj.curr>curr){
            curr=rj.curr;
            message=rj.message
            total=rj.total
            document.getElementById("process").innerText=message
            document.getElementById("prg").value=curr
            document.getElementById("prg").max=total
            document.getElementById("stepscomp").innerText=String(curr)+'/'+String(total)+' steps completed'
    }

    }


}

longpoll()
</script>

    <!-- Footer -->
    <!-- <footer class="container-fluid">
     Project-Scarlett
    </footer> -->
    <!-- ./ Footer -->



    <!-- Minimal theme switcher -->
    <script src="/static/js/minimal-theme-switcher.js"></script>

  </body>

</html>