<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard</title>
    <meta name="description" content="login to admin pannel.">
   



    <!-- Pico.css -->
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">

    <!-- Custom styles for this example -->
    



    

<style>

.healthy{
  color: green;
}

.offline{
  color: red;
}


  @media(min-width : 640px){
.uul {
  list-style-type: none;
  position: fixed;
  width: 25%;

  margin: 0;
  padding: 0;
  height: 100%;
  overflow: auto;
}

#contentblock{
  margin-left:25%;
  padding:1px 16px;
  height:1000px;
}
  }
@media(max-width : 640px) { 
.uul{
    float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  
}
.lii{
    display: inline;
    margin: 2px;
}

#contentblock{
 
  padding:1px 16px;
  height:1000px;
}


 }
</style>
<script src="/static/js/modal.js">
</script>
  </head>

  <body>

    <!-- Nav -->
    <nav class="container-fluid">
      <ul>
        <li><a href="/dashboard" class="contrast" ><strong>Project Scarlett</strong></a></li>
      
      </ul>
      <ul>
        <li>
          <details role="list" dir="rtl">
            <summary aria-haspopup="listbox" role="link" class="secondary">Theme</summary>
            <ul role="listbox">
              <li><a href="#" data-theme-switcher="auto">Auto</a></li>
              <li><a href="#" data-theme-switcher="light">Light</a></li>
              <li><a href="#" data-theme-switcher="dark">Dark</a></li>
            </ul>
         
          </details>
        </li>
      
        <li>
            <details role="list" dir="rtl">
              <summary aria-haspopup="listbox" role="link" class="secondary">{{session["user_githubusername"]}}</summary>
              <ul role="listbox">
               
                <li><a href="/dashboard/settings">Settings</a></li>
                <li><a href="/dashboard/logout">Log Out</a></li>
                
              </ul>
            </details>
          </li>

      </ul>
    </nav><!-- ./ Nav -->

    <!-- Main -->
    
    <main class="container">
        <ul class="uul">
            <li class="lii"><a class="secondary" href="#">Info</a></li>
            <li class="lii"><a href="./{{dep.deploy_id}}/logs">Logs</a></li>
            <li class="lii"><a href="./{{dep.deploy_id}}/settings">Settings</a></li>
            <li class="lii"><a href="./{{dep.deploy_id}}/networking">Networking</a></li>
            <li class="lii"><a href="./{{dep.deploy_id}}/notifications">Notifications</a></li>

            <li class="lii"><a href="./{{dep.deploy_id}}/envvariables">ENV Variables</a></li>
          
          </ul>
          
          <div id="contentblock">
            


         <table>
          <tr>
            <td>Primary URL</td>
            <td><a href="https://{{dep.primary_domain}}" style="float: inline-end;">{{dep.primary_domain}}</a></td>
          </tr>
          <tr>
            <td>Secondary URL</td>
            <td><a href="https://{{dep.secondary_domain}}" style="float: inline-end;">{{dep.secondary_domain}}</a></td>
          </tr>
         
          <tr>
            <td>Health</td>
            <td><span style="float: inline-end;" class="{{dep.health}}" id="heal">{{dep.health}}</span></td>
          </tr>
          <tr>
            <td>Status</td>
            <td><span style="float: inline-end;" id="laststatus">{{dep.last_deployment_status}}</span></td>
          </tr>
          <tr>
            <td>Repository</td>
            <td><a href="https://github.com/{{dep.repo_owner}}/{{dep.repo_name}}" style="float: inline-end;">{{dep.repo_owner}}/{{dep.repo_name}}</a></td>
          </tr>
          <tr>
            <td>Branch</td>
            <td><span style="float: inline-end;"><svg width="24" height="24" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><title>ionicons-v5-d</title><path d="M416,160a64,64,0,1,0-96.27,55.24c-2.29,29.08-20.08,37-75,48.42-17.76,3.68-35.93,7.45-52.71,13.93V151.39a64,64,0,1,0-64,0V360.61a64,64,0,1,0,64.42.24c2.39-18,16-24.33,65.26-34.52,27.43-5.67,55.78-11.54,79.78-26.95,29-18.58,44.53-46.78,46.36-83.89A64,64,0,0,0,416,160ZM160,64a32,32,0,1,1-32,32A32,32,0,0,1,160,64Zm0,384a32,32,0,1,1,32-32A32,32,0,0,1,160,448ZM352,192a32,32,0,1,1,32-32A32,32,0,0,1,352,192Z"/></svg>{{dep.branch_name}}</span></td>
          </tr>
          <tr>
            <td>Commit</td>
            <td><a style="float: inline-end;" href="https://github.com/{{dep.repo_owner}}/{{dep.repo_name}}/commit/{{dep.commit_hash}}" id="commit"> {{dep.commit_hash[:7]}} </a></td>
          </tr>
          <tr>
            <td>CPU usage : </td>
            <td><span style="float: inline-end;" id="cpu_usage">{{dep.cpu_usage}} %</span></td>
          </tr>
          <tr>
            <td>Ram usage : </td>
            <td><span style="float: inline-end;" id="ram">{{dep.ram_usage}}/{{dep.ram_allocated}} MB</span></td>
          </tr>
          <tr>
            <td>Disk usage : </td>
            <td><span style="float: inline-end;" id="disk">{{dep.disk_usage}}/{{dep.disk_allocated}} GB</span></td>
          </tr>
          <tr>
            <td>Server : </td>
            <td> <span style="float: inline-end;"> {{svr.domain_prefix}} </span></td>
          </tr>
          <tr>
            <td>Server Location : </td>
            <td> <img src="/static/flags/{{svr.server_location_code}}.svg" style="float: inline-end;" width="32px" height="32px"> </td>
          </tr>

         </table>
         <button class="outline" data-target="modal-rebuild" onClick="toggleModal(event)" id="rebuildbtn">Rebuild</button>
         <button class="outline" data-target="modal-refetch" onClick="toggleModal(event)" id="refetchbtn" >Fetch changes</button>
         <button class="outline" data-target="modal-redeploy" onClick="toggleModal(event)" id="redeploybtn">Redeploy</button>
         
         <button style="background-color: red; border-color: red;" data-target="modal-deletedeploy" onclick="toggleModal(event)">Delete</button>
            

          </div>

    </main><!-- ./ Main -->




    <!-- Footer -->
    <!-- <footer class="container-fluid">
     Project-Scarlett
    </footer> -->
    <!-- ./ Footer -->



    <!-- Minimal theme switcher -->
    <script src="/static/js/minimal-theme-switcher.js"></script>


<!-- DELETE MODAL-->
<dialog id="modal-deletedeploy">
  <article>
    <a href="#close"
      aria-label="Close"
      class="close"
      data-target="modal-deletedeploy"
      onClick="toggleModal(event)">
    </a>
    <h3>Are you sure?</h3>
    <p>
      Are you sure you want to delete this deployment ?
    </p>
    <footer>
      <a href="#cancel"
        role="button"
        class="secondary"
        data-target="modal-deletedeploy"
        onClick="toggleModal(event)">
        Cancel
      </a>
      <a href="#confirm"
        role="button" style="background-color: red;border-color: red;"
        data-target="modal-deletedeploy"
        onClick="deletedeploy()" id="pconfirm">
        Confirm
      </a>
    </footer>
  </article>
</dialog>



<dialog id="modal-refetch">
  <article>
    <a href="#close"
      aria-label="Close"
      class="close"
      data-target="modal-refetch"
      onClick="toggleModal(event)">
    </a>
    <h3>Refetch?</h3>
    <p>
      Refetch any changes from github that might have been missed ?
    </p>
    <footer>
      <a href="#cancel"
        role="button"
        class="secondary"
        data-target="modal-refetch"
        onClick="toggleModal(event)">
        Cancel
      </a>
      <a href="#confirm"
        role="button"
        data-target="modal-refetch"
        onClick="refetchdeploy();toggleModal(event)" id="pconfirm">
        Confirm
      </a>
    </footer>
  </article>
</dialog>

<dialog id="modal-rebuild">
  <article>
    <a href="#close"
      aria-label="Close"
      class="close"
      data-target="modal-rebuild"
      onClick="toggleModal(event)">
    </a>
    <h3>Rebuild?</h3>
    <p>
      do you want to Rebuild docker containers ?
    </p>
    <footer>
      <a href="#cancel"
        role="button"
        class="secondary"
        data-target="modal-rebuild"
        onClick="toggleModal(event)">
        Cancel
      </a>
      <a href="#confirm"
        role="button"
        data-target="modal-rebuild"
        onClick="rebuilddeploy();toggleModal(event)" id="pconfirm">
        Confirm
      </a>
    </footer>
  </article>
</dialog>


<dialog id="modal-redeploy">
  <article>
    <a href="#close"
      aria-label="Close"
      class="close"
      data-target="modal-redeploy"
      onClick="toggleModal(event)">
    </a>
    <h3>Redeploy?</h3>
    <p>
      Are you sure you want to redeploy this instance ?(external port forwards if configured may change)
    </p>
    <footer>
      <a href="#cancel"
        role="button"
        class="secondary"
        data-target="modal-redeploy"
        onClick="toggleModal(event)">
        Cancel
      </a>
      <a href="#confirm"
        role="button"
        data-target="modal-redeploy"
        onClick="redeploydeploy();toggleModal(event)" id="pconfirm">
        Confirm
      </a>
    </footer>
  </article>
</dialog>







<script>

function renderstatus(data){
  let gitlink = "https://github.com/{{dep.repo_owner}}/{{dep.repo_name}}/commit/"
  let total_ram = {{dep.ram_allocated}}
  let total_disk = {{dep.disk_allocated}}
  let status_field = document.getElementById("laststatus")
  status_field.innerText=data["status"]
  if(data["status"]=="deployed"){
    status_field.setAttribute("aria-busy",false)
    document.getElementById("redeploybtn").disabled=false
    document.getElementById("rebuildbtn").disabled=false
    document.getElementById("refetchbtn").disabled=false
  }else{
    status_field.setAttribute("aria-busy",true)
  }
document.getElementById("cpu_usage").innerText=`${data["cpu_usage"].toFixed(2)} %`
document.getElementById("ram").innerText=`${data["ram_usage"]}/${total_ram} MB`
document.getElementById("disk").innerText=`${data["disk_usage"]}/${total_disk} GB`
if(data["health"]=="offline"){
document.getElementById("heal").innerText="offline"
document.getElementById("heal").setAttribute("class","offline")
}else{
document.getElementById("heal").innerText="healthy"
document.getElementById("heal").setAttribute("class","healthy")
}
document.getElementById("commit").innerText=data["commit_hash"].substring(0,7)
document.getElementById("commit").setAttribute("href",gitlink+data["commit_hash"])
fetchstatus()
}


function fetchstatus(){
let currstatus = document.getElementById("laststatus").innerText
if(currstatus!="deployed"){
  document.getElementById("laststatus").setAttribute("aria-busy",true)
}
fetch('./{{dep.deploy_id}}/status',{
    method:"POST",
    headers: {
    "Content-Type": "application/json",
  },
  body: JSON.stringify({"last_status":currstatus}),
  }).then((response) => response.json()).then((data) => renderstatus(data));

}
fetchstatus()



async function deletedeploy(){
let res = await fetch('./{{dep.deploy_id}}/delete')
location.replace('/dashboard')


}

async function refetchdeploy(){
let res = await fetch('./{{dep.deploy_id}}/refetch')
document.getElementById("refetchbtn").disabled=true

}

async function rebuilddeploy(){
let res = await fetch('./{{dep.deploy_id}}/rebuild')
document.getElementById("rebuildbtn").disabled=true

}

async function redeploydeploy(){
let res = await fetch('./{{dep.deploy_id}}/redeploy')
document.getElementById("redeploybtn").disabled=true

}


</script>


  </body>

</html>