<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>logs</title>

   



    <!-- Pico.css -->
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">

    <!-- Custom styles for this example -->
    

    <style type="text/css">
      .ansi2html-content { display: inline; white-space: pre-wrap; word-wrap: break-word; }
      .body_foreground { color: #AAAAAA; }
      .body_background { background-color: #000000; }
      .inv_foreground { color: #000000; }
      .inv_background { background-color: #AAAAAA; }
      .ansi1 { font-weight: bold; }
      .ansi31 { color: #aa0000; }
      .ansi33 { color: #aa5500; }</style>

    

<style>
  @media(min-width : 640px){
.uul {
  list-style-type: none;
  position: fixed;
  width: 25%;

  margin: 0;
  padding: 0;
  height: 100%;
  overflow: auto;
}

#contentblock{
  margin-left:25%;
  padding:1px 16px;
  height:1000px;
}
  }
@media(max-width : 640px) { 
.uul{
    float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  
}
.lii{
    display: inline;
    margin: 2px;
}

#contentblock{
 
  padding:1px 16px;
  height:1000px;
}


 }
</style>

  </head>

  <body>

    <!-- Nav -->
    <nav class="container-fluid">
      <ul>
        <li><a href="/dashboard" class="contrast" ><strong>Project Scarlett</strong></a></li>
      
      </ul>
      <ul>
        <li>
          <details role="list" dir="rtl">
            <summary aria-haspopup="listbox" role="link" class="secondary">Theme</summary>
            <ul role="listbox">
              <li><a href="#" data-theme-switcher="auto">Auto</a></li>
              <li><a href="#" data-theme-switcher="light">Light</a></li>
              <li><a href="#" data-theme-switcher="dark">Dark</a></li>
            </ul>
         
          </details>
        </li>
      
        <li>
            <details role="list" dir="rtl">
              <summary aria-haspopup="listbox" role="link" class="secondary">{{session["user_githubusername"]}}</summary>
              <ul role="listbox">
               
                <li><a href="/dashboard/settings">Settings</a></li>
                <li><a href="/dashboard/logout">Log Out</a></li>
                
              </ul>
            </details>
          </li>

      </ul>
    </nav><!-- ./ Nav -->

    <!-- Main -->
    
    <main class="container">
        <ul class="uul">
            <li class="lii"><a  href="../{{dep.deploy_id}}">Info</a></li>
            <li class="lii"><a href="#" class="secondary">Logs</a></li>
            <li class="lii"><a href="./settings">Settings</a></li>
            <li class="lii"><a href="./networking">Networking</a></li>
            <li class="lii"><a href="./notifications">Notifications</a></li>

            <li class="lii"><a href="./envvariables">ENV Variables</a></li>
          
          </ul>
          
          <div id="contentblock">

          <p>Container</p>
           <select id="container" style="width: 70%; float: inline-start;" autocomplete="off">
          {% for container_id,values in dep.containers.items() %}
            <option value="{{container_id}}"> {{values}}</option>
          {% endfor %}
          </select>
          <button style="width: 25%; float: inline-end;" onclick="addlog()" >Add</button>
          <br/> <br/>
          <br/>
        <table id="logstable">



          <!-- <tr><td>web <img src="/static/delete.svg" style="float: inline-end;">  </td></tr>
        <tr>
          <td>
            
          <div style="height: 300px; background-color: black;color: #f2f2f2 ;padding: 5px; overflow-y: scroll; white-space: pre-line;" id="consl">


          </div></td>
        </tr> -->




          <!-- <tr><td>web <img src="/static/delete.svg" style="float: inline-end;">  </td></tr>
          <tr><td>
        <div style="height: 300px; background-color: black; padding :8px;"> asdasdasd</div>
            

          </div>
        </td></tr> -->
<!-- 
        <tr><td>web <img src="/static/delete.svg" style="float: inline-end;">  </td></tr>
        <tr><td>
      <div style="height: 270px; background-color: black; padding :8px;"> asdasdasd</div>
          

        </div>
      </td></tr> -->

        </table>

      
    </main><!-- ./ Main -->




    <!-- Footer -->
    <!-- <footer class="container-fluid">
     Project-Scarlett
    </footer> -->
    <!-- ./ Footer -->



    <!-- Minimal theme switcher -->
    <script src="/static/js/minimal-theme-switcher.js"></script>


<script>
var idd = 0
function addlog(){
 let cont = document.getElementById("container").options[document.getElementById("container").selectedIndex];

 let tabl = document.getElementById("logstable")
let numberofrows = idd
idd+=1
let frow = document.createElement("tr")
frow.innerHTML = `<td> ${cont.innerText} <img src="/static/delete.svg" style="float: inline-end; cursor:pointer" onclick="deletec('c${numberofrows}')">  </td>`
tabl.appendChild(frow)
let srow = document.createElement("tr")
srow.innerHTML=`<td>
            
            <div style="height: 300px; background-color: black;color: #f2f2f2 ;padding: 5px; overflow-y: scroll; white-space: pre-line;" id="consl${numberofrows}">
  
  
            </div></td>`
tabl.appendChild(srow)
frow.setAttribute("class","c"+numberofrows)
srow.setAttribute("class","c"+numberofrows)

displaylogs(numberofrows,cont.value,null,[])

}

function deletec(cl){
  let tod = document.getElementsByClassName(cl)
  tod[0].remove()
  tod[0].remove()
}

function displaylogs(cl,c_id,tmsp,logs){
if(document.getElementsByClassName("c"+cl).length==0){
  return
}

let dcon = document.getElementById("consl"+cl)
for(i=0;i<logs.length-1;i++){
  let spa = document.createElement("span")
  spa.innerHTML=logs[i]
  dcon.appendChild(spa)
  dcon.appendChild(document.createElement("br"))
}
dcon.scrollTop = dcon.scrollHeight;
pulldata(cl,c_id,tmsp)


}



async function pulldata(cl,c_id,tmsp){
// let c_id = '3fc943ccc0cd9046b8fcf8a5ffa771a2a854e061a52dda2e7e86f40748a11b71'
// let tmsp = '2023-03-03 09:48:58.380345'
// let tmsp = null
let data = {"container_id":c_id,"timestamp":tmsp}
fetch('./containerlogs',{
  method: "POST", // or 'PUT'
  headers: {
    "Content-Type": "application/json",
  },
  body: JSON.stringify(data),
}).then((response)=>response.json()).then((data)=>displaylogs(cl,c_id,data.timestamp,data.logs)) 

//let cl = document.getElementById("consl")
}
// pulldata('3fc943ccc0cd9046b8fcf8a5ffa771a2a854e061a52dda2e7e86f40748a11b71',null)

</script>






  </body>

</html>