<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Network Setting</title>
    
   



    <!-- Pico.css -->
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">

    <!-- Custom styles for this example -->
    



    

<style>
  @media(min-width : 640px){
.uul {
  list-style-type: none;
  position: fixed;
  width: 25%;

  margin: 0;
  padding: 0;
  height: 100%;
  overflow: auto;
}

#contentblock{
  margin-left:25%;
  padding:1px 16px;
  height:1000px;
}
  }
@media(max-width : 640px) { 
.uul{
    float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  
}
.lii{
    display: inline;
    margin: 2px;
}

#contentblock{
 
  padding:1px 16px;
  height:1000px;
}


 }
</style>
<script src="/static/js/modal.js">
</script>
  </head>

  <body>

    <!-- Nav -->
    <nav class="container-fluid">
      <ul>
        <li><a href="/dashboard" class="contrast" ><strong>Project Scarlett</strong></a></li>
      
      </ul>
      <ul>
        <li>
          <details role="list" dir="rtl">
            <summary aria-haspopup="listbox" role="link" class="secondary">Theme</summary>
            <ul role="listbox">
              <li><a href="#" data-theme-switcher="auto">Auto</a></li>
              <li><a href="#" data-theme-switcher="light">Light</a></li>
              <li><a href="#" data-theme-switcher="dark">Dark</a></li>
            </ul>
         
          </details>
        </li>
      
        <li>
            <details role="list" dir="rtl">
              <summary aria-haspopup="listbox" role="link" class="secondary">{{session["user_githubusername"]}}</summary>
              <ul role="listbox">
               
                <li><a href="./settings">Settings</a></li>
                <li><a href="./logout">Log Out</a></li>
                
              </ul>
            </details>
          </li>

      </ul>
    </nav><!-- ./ Nav -->

    <!-- Main -->
    
    <main class="container">
      <ul class="uul">
        <li class="lii"><a  href="../{{dep.deploy_id}}">Info</a></li>
        <li class="lii"><a href="./logs">Logs</a></li>
        <li class="lii"><a href="./settings" >Settings</a></li>
        <li class="lii"><a href="#"  class="secondary">Networking</a></li>
        <li class="lii"><a href="./notifications">Notifications</a></li>

        <li class="lii"><a href="./envvariables">ENV Variables</a></li>
      
      </ul>
          
          <div id="contentblock">

  
           <p>HTTP forwards</p>
           <table>
            <thead>
            <th style="text-align: center">URL</th>
            <th style="text-align: center">Internal port</th>
            <th style="text-align: center">Actions</th>
          </thead>
            <tbody>
          {%for rule in dep.forwarded_ports["HTTP"]%}
           <tr>
           <td style="text-align: center">{{rule.subdomain}}</td>
           <td style="text-align: center">{{rule.internal_port}}</td>
           <td style="text-align: center"><img src="/static/delete.svg" style="cursor: pointer;"  data-target="modal-deletehttp" onclick="deletehttp(event,'{{rule.subdomain}}')"></td>
          </tr>
              {% endfor %}

         <tr>
          <td>

          </td>
          <td>

          </td>
          <td style="text-align: center">
          <a data-target="modal-addhttp" onclick="event.preventDefault();clearhttperror();toggleModal(event)">  ADD</a> 
          </td>
         </tr>
            </tbody>
           </table>

        
           <p>Port forwards</p>
           <table >
            <thead>
            <th style="text-align: center">External Port</th>
            <th style="text-align: center">Internal port</th>
            <th style="text-align: center">Actions</th>
          </thead>
            <tbody>
        
           <tr>
           <td style="text-align: center">{{dep.forwarded_ports["SSH"][0]["external_port"]}}</td>
           <td style="text-align: center">22 (SSH)</td>
           <td style="text-align: center"></td>
          </tr>
          {%for rule in dep.forwarded_ports["PORT"]%}
          <tr>
          <td style="text-align: center"></td>
          <td style="text-align: center"></td>
          <td style="text-align: center"><img src="/static/delete.svg"></td>
         </tr>
             {% endfor %}  

         <tr>
          <td>

          </td>
          <td>

          </td>
          <td style="text-align: center">
          <a data-target="modal-addport" onclick="clearporterror();toggleModal(event)">  ADD</a> 
          </td>
         </tr>
            </tbody>
           </table>












          </div>

    </main><!-- ./ Main -->




    <!-- Footer -->
    <!-- <footer class="container-fluid">
     Project-Scarlett
    </footer> -->
    <!-- ./ Footer -->



    <!-- Minimal theme switcher -->
    <script src="/static/js/minimal-theme-switcher.js"></script>



<!--PORTS MODAL-->
<dialog id="modal-addport">
  <article>
    <a href="#close"
      aria-label="Close"
      class="close"
      data-target="modal-addport"
      onClick="event.preventDefault();toggleModal(event)">
    </a>
    <h3>Add Port forward rule</h3>
    <p>
      <label>Internal port</label>
   <input autocomplete="off" id="iportt">

  
 <p id="addporterror" style="color:red"></p>
    </p>
    
    <footer>
      <a href="#cancel"
        role="button"
        class="secondary"
        data-target="modal-addport"
        onClick="event.preventDefault();toggleModal(event)">
        Cancel
      </a>
      <a href="#confirm"
        role="button"
        data-target="modal-addport" id="saveport"
        onClick="event.preventDefault();addport(event)">
        Save
      </a>
    </footer>
  </article>
</dialog>









<!--MODALS-->

<dialog id="modal-addhttp">
  <article>
    <a href="#close"
      aria-label="Close"
      class="close"
      data-target="modal-addhttp"
      onClick="event.preventDefault();toggleModal(event)">
    </a>
    <h3>Add http forward</h3>
    <p>
      <label>Internal port</label>
   <input autocomplete="off" id="hportt">
   <label>URL</label>
   <input id="hurl" style="width: 40%;" autocomplete="off">
   <select autocomplete="off" style="width: 50%;" id="domain">
  {% for dm in domains%}
    <option value="{{dm}}">{{dm}} </option>
  {% endfor %}
  </select>
 <p id="addhttperror" style="color:red"></p>
    </p>
    <p id="addhttperror" style="color:red"></p>
    <footer>
      <a href="#cancel"
        role="button"
        class="secondary"
        data-target="modal-addhttp"
        onClick="event.preventDefault();toggleModal(event)">
        Cancel
      </a>
      <a href="#confirm"
        role="button"
        data-target="modal-addhttp" id="savehttp"
        onClick="event.preventDefault();addhttp(event)">
        Save
      </a>
    </footer>
  </article>
</dialog>


<!--DELETE MODAL-->

<!-- Modal -->
<dialog id="modal-deletehttp">
  <article>
    <a href="#close"
      aria-label="Close"
      class="close"
      data-target="modal-deletehttp"
      onClick="toggleModal(event)">
    </a>
    <h3>Are you sure?</h3>
    <p>
      Are you sure you want to delete sub-domain 
      <span id="subdelete"></span> from forwarding rules?
    </p>
    <footer>
      <a href="#cancel"
        role="button"
        class="secondary"
        data-target="modal-deletehttp"
        onClick="toggleModal(event)">
        Cancel
      </a>
      <a href="#confirm"
        role="button" style="background-color: red;border-color: red;"
        data-target="modal-deletehttp"
        onClick="confirmdeletehttp(event)" id="deleteconfirm">
        Confirm
      </a>
    </footer>
  </article>
</dialog>



<!--MODALS-->

<script>

subdomain_to_delete = ""

function deletehttp(e,subd){
  document.getElementById("deleteconfirm").disabled = false
  document.getElementById("deleteconfirm").setAttribute('aria-busy','false')
  subdomain_to_delete = subd
  document.getElementById("subdelete").innerText=subd
  toggleModal(e)
}

async function confirmdeletehttp(event){
  document.getElementById("deleteconfirm").setAttribute('aria-busy','true')
  document.getElementById("deleteconfirm").disabled = true
  let res = await fetch('./deletehttpforward',{
    method:"POST",
    headers: {
    "Content-Type": "application/json",
  },
  body: JSON.stringify({"subdomain":subdomain_to_delete}),
  })
  let restext = await res.text()
  location.reload()
  toggleModal(event)
}


function subvalid(str) {
  var code, i, len;

  for (i = 0, len = str.length; i < len; i++) {
    code = str.charCodeAt(i);
    if (((!(code > 47 && code < 58) && // numeric (0-9)
        !(code > 64 && code < 91) && // upper alpha (A-Z)
        !(code > 96 && code < 123)) ) ) { // lower alpha (a-z)

      if( (str.charAt(i)=='-' && i!=0 && i!=len-1  )){
        continue
      }
      return false;
    }
  }
  return true;
}


function clearhttperror(){
  document.getElementById("addhttperror").innerText=""
}

async function addhttp(e){
clearhttperror()
let errp = document.getElementById("addhttperror")
let hportt = document.getElementById("hportt") 
let port = parseInt(hportt.value)

if(isNaN(port) || (port<0 && port>65000 )){
  errp.innerText="PORT NEEDS TO BE A NUMBER BETWEEN 1-65000"
  return
}
let hurl = document.getElementById("hurl")
let domainn = document.getElementById("domain")
if(hurl.value=="" || !subvalid(hurl.value)){
  errp.innerText="sub domain can only contain 1-9 a-z"
  return
}
let response = await fetch('/dashboard/config/ava/'+hurl.value+'.'+domainn.value)
let restext = await response.text()
if(restext!="OK"){
  const url = restext;

// Split the URL by dots
const urlParts = url.split('.');

// Extract the subdomain and domain parts
let subdomain = '';
let domain = '';
if (urlParts.length === 2) {
  domain = url;
} else if (urlParts.length > 2) {
  subdomain = urlParts[0];
  domain = urlParts.slice(1).join('.');
}




  hurl.value=subdomain
  errp.innerText="sub domain is taken try this instead"
  return
}
document.getElementById("savehttp").setAttribute('aria-busy','true')
let rp = await fetch("./addhttpforward",{
  method: "POST", // or 'PUT'
  headers: {
    "Content-Type": "application/json",
  },
  body: JSON.stringify({"subdomain":hurl.value+'.'+domainn.value,"port":port}),
})

let rptext = await rp.text()
if(rptext=="OK"){
  // toggleModal(e)
  document.getElementById("savehttp").setAttribute('aria-busy','false')
  location.reload(); 
  return
}
errp.innerText="something went wrong"
document.getElementById("savehttp").setAttribute('aria-busy','false')
}

function clearporterror(){
  let errport = document.getElementById("addporterror")
errport.innerText="" 
}

async function addport(){
let iportt = document.getElementById("iportt") 
let port = parseInt(iportt.value)
let errport = document.getElementById("addporterror")
errport.innerText=""
if (isNaN(port) || (port<1 || port>65000)){
iportt.value=""
errport.innerText="PORT VALUE SHOULD BE BETWEEN 1 and 65000"
return;
}
document.getElementById("saveport").setAttribute('aria-busy','true')
let rp = await fetch("./addportforward",{
  method: "POST", // or 'PUT'
  headers: {
    "Content-Type": "application/json",
  },
  body: JSON.stringify({"port":port}),
})

document.getElementById("saveport").setAttribute('aria-busy','false')
}

</script>



  </body>

</html>